
    body{
        font-family: 'Poppins', sans-serif;
        margin: 10px;
    }
    section{
        display: flex;

    }
    .text-color{
        color:coral;
    }
    .top-banner{
        background-image: url("images/top-banner.png");
        background-repeat: no-repeat;
    }
    .half-width{
        width: 50%;
        margin: 40px;
    }
    .half-width img{
        width: 80%;
        padding: 5px;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(tomato , orange);
        font-size: 50px;
        color: white;
        border-radius: 10px;
    }

    .top-banner{
        background-image: url(../images/top-banner.png);
    }

    .dream-baneer{
        background-image: url("images/dream-bd.png");
    }

